.clients {
    padding-top: 225px;
    
    
    &__row {
        display: flex;
        justify-content: space-between;
    }
    
    
    &__item--one {
       max-width: 525px; 
       position: relative;
    }
    
    &__item--two {
        max-width: 525px; 
        position: relative;
     }
    
    &__foto {
       position: absolute;
       left: 25px;
       top: -60px;
       z-index: 2;
    }
    
    &__quotes {
        position: absolute;
        top: 40px;
        right: 50px;
    }
    
    &__review {
        padding: 104px 45px 23px 30px;
        border: 1px solid #FCD54C;
        position: relative;
    }
    
    &__name {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF;
    }
    
    &__title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #929292;
        margin-top: 20px;
        margin-bottom: 34px;
    }
    
    &__title a {
        color: #FCD54C;
    }
    
    &__text {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #929292;
    }

    &__svg {
        text-align: center;
        margin-top: 44px;
    }

    &__ellipse {
        margin-left: 17px;
    
        &:first-child {
           margin-left: 0;
        }
    }
}

@media(max-width:1100px) {
    .clients {
      padding-top: 200px;

        
        &__review {
            padding: 100px 26px 23px 28px;
        }
      
        &__row {
            justify-content: space-around;
        }
      
        &__item--one {
            max-width: 420px;
        }
        
        &__item--two {
            max-width: 420px;
        }
    }
}

@media(max-width:820px) {
    .clients {
       padding-top: 150px;

        
        &__review {
            padding-top: 50px;
        }
        
        &__foto {
            top: -45px;
        }
        
        &__foto img{
            width: 80px;
        }
        
        &__title {
            font-size: 14px;
        }
      
        &__text {
            font-size: 14px;
            line-height: 20px;
        }
        
        &__item--one {
            max-width: 380px;
        }
        
        &__item--two {
            max-width: 380px;
        }
    }
}

@media(max-width:767px) {
    .clients {
      padding-top: 100px;

        
        
        &__foto {
            top: -35px;
        }
        
        &__quotes {
            width: 40px;
            top: 30px;
            right: 40px;
        }
        
        &__foto img{
            width: 68px;
        }
        
        &__title {
            font-size: 12px;
            margin-top: 8px;
            margin-bottom: 10px;
        }
      
        &__text {
            font-size: 12px;
            line-height: 14px;
        }
        
        &__item--one {
            max-width: 330px;
        }
        
        &__item--two {
            max-width: 330px;
        }

        &__svg {
            margin-top: 36px;
        }
    }
}

@media(max-width:576px) {
    .clients {

    
        &__row {
            flex-wrap: wrap;
        }
        
        &__item--one{
            max-width: 290px;
        }
        
        &__item--two{
            max-width: 290px;
            margin-top: 50px;
        }

        &__svg {
            margin-top: 30px;
        }
    }
}

@media(max-width:320px) {
    .clients {

    
        &__quotes {
            width: 30px;
            top: 20px;
            right: 30px;
        }
        
        &__item--two{
            display: none;
        }
    }
}
