.largest {
  padding-top: 110px;
  padding-bottom: 120px;
    
    &__faq {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 60px;
        color: #FFFFFF; 
        margin-bottom: 10px;
    }
    
    &__item {
        border-top: 1px solid #929292;
        border-bottom: 1px solid #929292;
        position: relative;
    }
    
    &__title--first {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #FFFFFF;
        padding-top: 10px;
    }
    
    &__title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #FFFFFF;
        padding: 20px 0;
        border-bottom: 1px solid #929292;
    }
    
    &__text {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #E8E8E8;
        padding-left: 50px;
        padding-top: 33px;
        padding-bottom: 40px;
    }
    
    &__svg--first {
        position: absolute;
        top: 20px;
        right: 0;
        transform: rotate(90deg);
        cursor: pointer;
    }

    &__body {
        position: relative;
    }
    
    &__svg {
        position: absolute;
        right: 0;
        top: 20px;
        cursor: pointer;
    }

    &__hr {
        height: 1px;
        background: rgba(255, 255, 255, 0.3);
    }
}

@media(max-width:767px) {
    .largest {
      padding-top: 70px;
      padding-bottom: 70px;
      max-width: 710px;  
      margin: 0 auto;  
        
        &__faq {
            font-size: 30px;
        }

        &__title--first {
            font-size: 14px;
        }
        
        &__title {
            font-size: 14px;
        }
    
        &__text {
            font-size: 12px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

@media(max-width:320px) {
    .largest {
      padding-top: 50px;
      padding-bottom: 50px;
      max-width: 288px;  
        
        &__faq {
            font-size: 24px;
        }

        &__title--first {
            font-size: 12px;
            padding-right: 38px;
        }
        
        &__title {
            font-size: 12px;
            padding-right: 38px;
        }
    
        &__text {
            font-size: 10px;
        }
    
        &__svg {
            width: 12px;
            height: 16px;
        }
        
        &__svg--first {
            width: 12px;
            height: 16px;
        }
    }
}
